*
!.github
!.github/**/*
!automations
!automations/**/*
!blueprints
!blueprints/**/*
!integrations
!integrations/**/*
!scripts
!scripts/**/*
!templates
!templates/**/*
!docs
!docs/**/*

!automations.yaml
!configuration.yaml
#!scripts.yaml
!README.md
!.gitignore
!VALIDATION_STATUS.md

# Validation configuration files
!.yamllint
!.markdownlint.json
!.markdownlintignore
!.pre-commit-config.yaml

# Never ever
*secret*.y*ml

# Skip upload for now until Home Assistant supports secrets via the GUI
# Issue: https://github.com/home-assistant/frontend/issues/19871
automations/secret/**/*
integrations/mqtt.yaml

# ESPHome has it's own gitignore
!esphome
!esphome/**/*
