*
!automations
!automations/**/*
!blueprints
!blueprints/**/*
!integrations
!integrations/**/*
!scripts
!scripts/**/*
!templates
!templates/**/*

!automations.yaml
!configuration.yaml
!scripts.yaml
!README.md
!.gitignore

# Never ever
*secret*.y*ml

# Skip upload for now until Home Assistant supports secrets via the GUI
# Issue: https://github.com/home-assistant/frontend/issues/19871
automations.yaml
scripts.yaml
integrations/mqtt.yaml

# ESPHome has it's own gitignore
!esphome
!esphome/**/*
