*
!packages
!packages/**/*
!templates
!templates/**/*
!blueprints
!blueprints/**/*
blueprints/*/homeassistant/*
!automations.yaml
!configuration.yaml
!scripts.yaml
!README.md
!.gitignore

# Never ever
*secret*.y*ml

# Skip upload for now until Home Assistant supports secrets via the GUI
# Issue: https://github.com/home-assistant/frontend/issues/19871
automations.yaml
scripts.yaml
packages/charge-points/laadpaal_rest.yaml
