# Home Assistant Configuration

Welcome to my Home Assistant Configuration!
I used to do a lot in YAML but since the push for GUI usage from Home Assistant, my configuration got slimmer too.

## Home Assistant Details

### Version

{{ states('sensor.current_version') }}

### Stats

Description | Count
-- | --
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}

## My installed extensions

### Add-ons

{%- set addons_list = addons | sort(attribute='name') %}
{%- if addons_list %}
    {%- for component in addons_list %}
- {{component.name}}
    {%- endfor %}
{%- else %}
None
{%- endif %}

### Custom integrations

{%- set integrations = hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
{%- if integrations %}
    {%- for component in integrations %}
- [{{component.name}}]({{component.documentation}})
    {%- endfor %}
{%- else %}
None
{%- endif %}

### Lovelace plugins

{%- set plugins = hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
{%- if plugins %}
    {%- for component in plugins %}
- [{{component.name}}]({{component.documentation}})
    {%- endfor %}
{%- else %}
None
{%- endif %}

### Themes

{%- set themes = hacs_components | selectattr('category', 'equalto', 'theme') | sort(attribute='name') %}
{%- if themes %}
    {%- for component in themes %}
- [{{component.name}}]({{component.documentation}})
    {%- endfor %}
{%- else %}
None
{%- endif %}

***

Generated at {{ states('sensor.date_time_utc') }} UTC by the [custom readme integration](https://github.com/custom-components/readme) based on [my configuration](templates/README.j2).
